.sleep_record_container {
  background: var(--record-box-bg);
  margin: 20px;
  padding: 32px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.sleep_record_title {
  color: var(--header-title-color);
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
}

.sleep_record_subtitle {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #666;
  margin-bottom: 24px;
  color: var(--record-box-text-color);
}

.time_input_group {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
  margin-bottom: 24px;
}

.time_input {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.input_with_icon {
  position: relative;
}

.input_with_icon input[type="time"] {
  width: 100%;
  padding: 8px 40px 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* .clock_icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
} */
