.main_section {
  padding: 20px 0;
}
.total {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}

.mytotal {
  min-width: 150px;
  max-width: 200px;
  border-radius: 16px;
  padding: 25px 100px;
  background-color: var(--color-primary-p-100, #fcf3fb);
  color: #493d78;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;
  text-align: center;
}

.hoverBt {
  position: relative;
}
.hoverBt:hover .mytotal {
  background-color: #fad4e8;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.mytotal img {
  padding-top: 10px;
  width: 28px;
  height: 28px;
  flex-shrink: 0;
}

.mytotal span {
  white-space: nowrap;
}
