.mainpage {
  font-family: "tj400";
}
.mainpage_wrap {
  padding: 10px 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  font-size: 14px;
  flex: 1;
}
.dream_list {
  display: flex;
  gap: 29%;
  justify-content: flex-start;
  align-items: flex-start;
}
.dream_card {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 500px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--color-primary-p-100, #fcf3fb);
}
.auth_box {
  width: 300px;
  background: #f7f7f7;
  padding: 27px;
  border-radius: 16px;
}

.dream_card_top {
  padding: 10px 15px 0px;
  display: flex;
  justify-content: space-between;
}
.dream_card span {
  height: 10px;
  padding-top: 8px;
}

.dream_card_top img {
  width: 20px;
  height: 17px;
  flex-shrink: 0;
  aspect-ratio: 28.13/25;
}
.dream_card p {
  /* padding: 0px 15px; */
}
.dream_item {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 15px;
}
.dream_date {
  padding-left: 10px;
  font-size: 11px;
}

.dream_title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  /* filter: blur(5px); */
}

.main_login {
  position: relative;
}

.blurred {
  filter: blur(2px);
  pointer-events: none;
  position: relative;
}

.blurred .overlay_text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
  padding: 4px 8px;
  z-index: 2;
}

.total,
.note_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  text-align: center;
}

.note_list > div {
  background: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
}
