/* 메인 페이지 */
.mainpage {
  font-family: "tj400";
  max-width: 300%;
  max-height: 300%;
}
.mainpage_wrap {
  padding: 10px 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.mainpage_inner {
  padding: 20px;
  background: rgba(252, 243, 251, 0.44);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
section {
  font-size: 14px;
  flex: 1;
}
.greeting h1 {
  margin-bottom: 0px;
}
.greeting p {
  margin-top: 5px;
  margin-bottom: 30px;
}
/* 즐겨찾기 */
.dream_list {
  display: flex;
  gap: 8%;
  justify-content: flex-start;
  align-items: flex-start;
}
.dream_card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 500px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--color-primary-p-100, #fcf3fb);
}

.dream_item {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px 15px;
}
.dream_date {
  padding-left: 10px;
  font-size: 11px;
}

/* 유저 프로필 및 로그인창 - 로그인 완료한 화면 */
.auth_box {
  width: 300px;
  background: #f7f7f7;
  padding: 27px;
  border-radius: 16px;
}
.user_profile_img {
  width: 80px;
  height: 80px;
  white-space: nowrap;
}

.dream_card_top {
  padding: 10px 15px 0px;
  display: flex;
  justify-content: space-between;
}
.dream_card span {
  height: 10px;
  padding-top: 8px;
}

.dream_card_top img {
  width: 20px;
  height: 17px;
  flex-shrink: 0;
  aspect-ratio: 28.13/25;
}
/* 유저 프로필 및 로그인창 - 로그인 안한 화면 */

.login_prompt {
  
}

/* 나의 통계 */
.main_login {
  position: relative;
}

/* .blurred {
  filter: blur(2px);
  pointer-events: none;
  position: relative;
} */

/* .blurred .overlay_text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: red;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
  padding: 4px 8px;
  z-index: 2;
} */

/* .total {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  text-align: center;
} */

/* .note_list > div {
  background: #f9f9f9;
  padding: 12px;
  border-radius: 8px;
} */
