.swiper-slide {
  font-family: "tj400", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--text-color, #3a3a74);
}

.visual-slide {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  border-radius: 20px;
  background: var(--bg-color, #fcf3fb);
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
}

.sw-visual .swiper-slide {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 스와이퍼 페이지네이션 버튼 */
.swiper-pagination {
  bottom: -5px !important;
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #1c1c1c;
  opacity: 0.24;
  border-radius: 9999px;
  margin: 0 4px;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 7px;
  height: 7px;
  opacity: 1;
}
